<footer class="main-footer">
    <div class="pull-right hidden-xs"><b>Version</b> 0.4.3</div>
    <strong>Copyright &copy; @DateTime.Now.Year <a href="http://www.requestbase.com/">RequestBase(求源网)</a>.</strong> All rights reserved.
</footer>