@using YueQian.ShortUrl.RequestBase.DataModel
@model YueQian.ShortUrl.RequestBase.Web.Models.IndexViewModel
<div class="main">
    <div class="col-xs-12 col-md-9">
        <section class="page-header lead"><span class="glyphicon glyphicon-book"></span>话题集</section>
        @if (Model.List != null && Model.List.Count() > 0)
            {
                foreach (var item in Model.List)
                {
                <div class="rb-topic">
                    <a href="/topic/@item.Id" target="_blank"><h3>@item.Title</h3></a>
                    <p>@item.Description</p>
                </div>
                <div class="highlight">
                    <pre>
                    <span class="pull-right">来源:<a href="@item.ComeFromUrl" target="_blank">@item.ComeFrom</a></span>
                    <a title="阅读量"><span class="glyphicon glyphicon-eye-open"></span> 10</a>                        
                    </pre>
                </div>
            }
        }
    </div>
    <div class="col-xs-6 col-md-3">
        <section class="page-header lead"><span class="glyphicon glyphicon-tags"></span>标签</section>
        <div class="well" id="hot-tags">
            <a href="/">content</a>
            <a href="/">content</a>
            <a href="/">content</a>
            <a href="/">content</a>
            <a href="/">content</a>
            <a href="/">content</a>
            <a href="/">content</a>
            <div class="clearfix"></div>
        </div>

        <section class="page-header lead"><span class="glyphicon glyphicon-th-list"></span>阅读排行</section>
        <ul class="list-rank">
            <li>
                <a href="#" target="_blank">
                    <span class="badge">14</span>
                    有朋自远方来而论，中国5个主场应该怎么安排？
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <span class="badge">14</span>
                    有朋自远方来而论，中国5个主场应该怎么安排？
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <span class="badge">14</span>
                    有朋自远方来而论，中国5个主场应该怎么安排？
                </a>
            </li>
        </ul>
    </div>
</div>


